.projectList {
    display: flex;
    justify-content: space-between;
    width: -webkit-calc(100% - 20px);
    margin: 0 auto;
}
th
{
    font-weight: bold !important;
    color: #898b8d !important;
}
.projectName>a
{
    color: #4a9053 !important;
    text-decoration: none;
}